<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Gum #<%= @gum.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/gums" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/gums/<%= @gum.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit gum
        </a>
      </div>

      <div class="col">
        <a href="/delete_gum/<%= @gum.id %>" class="btn btn-block btn-outline-secondary">
          Delete gum
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Brand
      </dt>
      <dd>
        <%= @gum.brand %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@gum.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@gum.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

